* {
	padding: 0;
	margin: 0;
}
#box {
	width: 450px;
	margin: 50px auto;
	height: 450px;
	position: relative;
	background: #996633;
}
#app {
	display: block;
	/*background: #e3e4e4;*/
	box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9
}
.cross {
	width: 26px;
	height: 26px;
	position: absolute;
	color: #f12045;
	display: none;
	z-index: 20
}